[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "0.68.1"
uvicorn = "0.15.0"
tortoise-orm = "0.17.3"

[dev-packages]
black = "21.8b0"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
